@import "./src/assets/style/variables";
@import "./src/assets/style/index";



.P-latest-news{
  background-color: $main-color;
  text-align: center;
  padding: 60px 0 80px;


  h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: $white;
    margin-bottom: 80px;
  }

  .P-latest-box{
    background-color: $white;
    border-radius: 10px;
    max-width: 315px;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    margin-bottom: 60px;
    &:hover{
      transform: scale(1.025);
      box-shadow: 2px 2px 15px rgba(0,0,0, 0.5);
    }
    .P-latest-img{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 225px;
    }
    .P-latest-box-title{
      padding: 8px 23px;

      h3{
        font-weight: 800;
        font-size: 19.5678px;
        line-height: 24px;
        color: $black;
        margin-bottom: 16px;
      }
      h4{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $black;
        opacity: 0.7;
        margin-bottom: 40px;
      }
      span{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #54D16C;
      }
      p{
        font-weight: 400;
        font-size: 15.6542px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 40px;
        padding: 4px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.4);
      }
    }
  }
}