@import "./src/assets/style/variables";
@import "./src/assets/style/index";


.P-section-video-main {
  .P-section-video {
    height: 100vh;
    display: flex;
    margin: 0 auto;
    background-color: $black;
    //background-color: $black;
  }
}